<?xml version="1.0" encoding="utf-8"?>

<!-- CONFIGURATION FILE FOR INSIGHT SCRIPTS-->
<!-- Please edit this file before running the scripts on your machine.-->
<configuration>
  <appSettings>
    <!--Edit here the browser which you want to work on each portal. FIREFOX or IE-->
    <add key="BROWSER_ARCLIGHT" value="FIREFOX" />

    <!--Edit here if you want to record the video of the test-->
    <add key="VIDEO" value="YES" />

    <!--Edit here to add random capabilities to the test-->
    <add key="RANDOM" value="YES" />

    <!--Edit here the path where the results are going to be written -->
    <add key="TEST_RESULTS_FOLDER_PATH" value="C:\Users\Rene\Desktop\log\" />

    <!--Edit here the URL of the root of the page. -->
    <add key="ARCLIGHT_URL" value="http://admin-preprod2.arclight.org/backend/admin/dashboard" />
    
    <!--Edit here the credentials to grant access to the portal-->
    <add key="ARCLIGHT_USERNAME" value="noe.anton@unosquare.com" />
    <add key="ARCLIGHT_PASSWORD" value="Noah@Kolo" />

    <add key="FILE_NAME" value="TestFileName.jpg" />
    <add key="OVP" value="http://image.com/TestFileName.jpg" />

  </appSettings>
</configuration>